
     .rifat{
        font-weight: 400px;
        font-style: oblique;
        font-family: Georgia, 'Times New Roman', Times, serif;
        background-color: cyan;
        width: 815px;
        text-align: left;
        /* border: 10px solid greenyellow; */
        border-style: solid;
        border-color: bisque;
        border-radius: 30px;
        border-top: 20px;
        border-left: 20px;
        border-width: 10px;
        padding: 20px;
        margin: 20px;
        box-shadow: 30px gold;
     }
     .wallpaper{
        height: 300px;
        color: gold;
        text-align: center;
        font-size: 30px;
        background-image: url(./wallhaven-o5d6j9_1920x1080.png);
        background-size: cover;
        background-blend-mode:darken;
     }
     .underline{
        text-align: center;
        text-decoration: underline grey;

     }

