li{
    color: rgb(209, 34, 69);
    background-color: blueviolet;
    color: aliceblue;
    font-size: 20px;
    font-weight: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    border: 10px solid royalblue;
    border-bottom: 5px;
    border-radius: 30px;
    padding: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    box-shadow: 5px -5px skyblue;
    

}